body{
    background-color:#e7e6e1;   
}
h1 {
    color: #0245a3;
}
h3{
    color: #66BFBF;
}
hr {
    border-style: dotted none none;
    border-color: grey;
    border-width: 5px ;
    width: 5%;     
}